[Unit]
Description=Dshield firewall phase 1
Before=network.service
DefaultDependencies=false
Requires=sysinit.target
After=sysinit.target
RequiresMountsFor=/dev/shm
Conflicts=firewalld.service

[Service]
ExecStart=/usr/sbin/iptables-restore /etc/network/iptables-init
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
Also=dshieldfirewall.service

