[Unit]
Description=DShield ISCAgent sHoneypot
After=systemd-networkd-wait-online.service
Wants=systemd-networkd-wait-online.service

[Service]
Type=idle
WorkingDirectory=/srv/isc-agent
User=cowrie
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webpy
ExecStartPre=pipenv install --deploy
ExecStart=pipenv run python main.py

[Install]
WantedBy=multi-user.target
