[Unit]
Description=Web Honeypot Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /srv/web/isc_agent.pyz
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=webhpot
Group=webhpot
WorkingDirectory=/srv/web

[Install]
WantedBy=multi-user.target