[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "~=3.0.3"
pydantic = {extras = ["dotenv", "email"], version = "~=1.9.0"}
requests = "~=2.27.1"
sqlalchemy = "~=1.4.31"
twisted = {extras = ["all_non_platform", "http2"], version = "~=22.1.0"}

[dev-packages]
pytest = "*"
watchdog = "*"
pyyaml = "*"
pylint = "*"
bandit = "*"
coverage = "*"
factory-boy = "*"
markdown = "*"
tox = "*"

[requires]
python_version = "3"
