[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twisted = {extras = ["all_non_platform", "http2"], version = "*"}
sqlalchemy = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}

[dev-packages]
pytest = "*"
watchdog = "*"
pyyaml = "*"
pylint = "*"
bandit = "*"
coverage = "*"
factory-boy = "*"
markdown = "*"
tox = "*"

[requires]
python_version = "3.7"
